<!DOCTYPE html>

<html lang="en">
<head>
    <style>
        form {
            background-color: #eee;
            padding: 20px;
            margin: 0 auto;
            width: 540px;
            font: 16px sans-serif;
            border-radius: 10px;
        }
        textarea {
            margin: 10px 0;
            width: 540px;
            height: 120px;
        }
        #rot {
            width: 3em;
            border-radius: 0px;
        }
    </style>
</head>
<body>
    <form id="caesar" method="post">
        <label>Select encryption method: <select id="selection" name="encrypt-method" required
                                                 onchange="hideOtherMethod(); disableDecrypt()">
            <option id="op_caesar" value="caesar">Caesar</option>
        </select></label><br>

        <label class="rot">Rotate by: <input class="rot" name="rot" type="number" value="{{rot}}" id="rot"
                                 oninput="disableDecrypt()"></label>


        <textarea id="text" name="plaintext" placeholder="Enter message to encrypt here..."
                  oninput="disableDecrypt()" required>{{ciphertext}}</textarea>

    <input type="submit" value="Encrypt plaintext">
    {% if not decrypt_hide %}
    <button id="decrypt" name="decrypt" value=1>Undo encryption</button>
    {% endif %}
    </form>


</body>
</html>